<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book's Trade</title>
</head>
<body>
    <h1>Book's Trade</h1>

    <p>O <b>Book's Trade</b> é uma aplicação web cujo objetivo é criar uma comunidade de leitores, permitindo que usuários cadastrem os livros que possuem e proponham trocas com outros usuários. A plataforma visa incentivar o compartilhamento de livros, ampliar o acesso à leitura e promover o reaproveitamento de exemplares.</p>
</body>
<footer>
    <h6>Book's Trade</h6>
</footer>
</html>