<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Livros</title>
</head>
<body>
    <h1>Lista de Livros</h1>

    <a th:href="@{/livros/novo}">Adicionar Novo Livro</a>

    <ul>
        <li th:each="livro : ${livros}">
            <a th:href="@{/livros/{id}(id=${livro.id})}">
                <span th:text="${livro.titulo}">Título</span> - 
                <span th:text="${livro.autor}">Autor</span>
            </a>
        </li>
    </ul>
</body>
</html>

