<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body})}">
<body>
    <h1>Detalhes do Livro</h1>
    <p><strong>Título:</strong> <span th:text="${livro.titulo}"></span></p>
    <p><strong>Autor:</strong> <span th:text="${livro.autor}"></span></p>
    <p><strong>Gênero:</strong> <span th:text="${livro.genero}"></span></p>
    <p><strong>Descrição:</strong> <span th:text="${livro.descricao}"></span></p>
    <p><strong>Ano de Publicação:</strong> <span th:text="${livro.anoPublicacao}"></span></p>

    <a th:href="@{/trocas/nova}">Propor Troca</a>
    <a th:href="@{/livros}">Voltar à lista</a>
</body>
</html>



