<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{auth_layout :: layout(~{::body})}">
<body>
    <h2>Login</h2>
    
    <div th:if="${param.error}" style="color: red;">
        Email ou senha inválidos.
    </div>

    <form th:action="@{/auth/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <label for="username">Email:</label>
        <input type="text" name="username" id="username"><br>

        <label for="password">Senha:</label>
        <input type="password" name="password" id="password"><br>

        <button type="submit">Entrar</button>
    </form>
    
    <p>Ainda não tem conta? <a th:href="@{/auth/register}">Cadastre-se aqui</a></p>
</body>
</html>




