<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{auth_layout :: layout(~{::body})}">
<body>
    <h2>Cadastro</h2>
    <form th:action="@{/register}" th:object="${usuario}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" th:field="*{nome}" id="nome"><br>

        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email"><br>

        <label for="senha">Senha:</label>
        <input type="password" th:field="*{senha}" id="senha"><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>

