<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body})}">
<body>
    <h2>Registrar Troca</h2>
    <form th:action="@{/trocas}" th:object="${troca}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        
        <label for="usuario">Nome do Usuário:</label>
        <input type="text" th:field="*{usuario.nome}" id="usuario"><br>

        <label for="livro">Título do Livro:</label>
        <input type="text" th:field="*{livro.titulo}" id="livro"><br>

        <button type="submit">Registrar</button>
    </form>
</body>
</html>

